/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

body {
  background: #FFFFFF;
  color: #18181B;
  font-family: "Helvetica";
  font-weight: normal;
}

.cta {
  padding: 20px 30px;
  border: none;
  border-radius: 150px;
  font-size: 16px;
  font-weight: bold;
  background-color: #F0380F;
  color: #FFFFFF;
}

.small_paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  /*  @media (min-width: $min_width) {
       font-size: 22px;
       line-height: 34px;
   } */
}

.big_paragraph {
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  /*  @media (min-width: $min_width) {
       font-size: 40px;
       line-height: 56px;
   } */
}

.header {
  position: relative;
  background: url(../../img/hero.png) center/cover no-repeat;
  text-align: center;
  height: 859px;
}
@media (min-width: 768px) {
  .header {
    height: 1563px;
  }
}
.header .navigation {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header .navigation {
    justify-content: space-between;
    margin: 0 106px;
  }
}
.header .navigation ul.navigation__item {
  display: none;
}
@media (min-width: 768px) {
  .header .navigation ul.navigation__item {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .navigation ul.navigation__item .navlink a {
    text-decoration: none;
  }
  .header .navigation ul.navigation__item .navlink a:hover {
    text-decoration: underline;
  }
}
.header .navigation .navigation__item .navigation__item--logo {
  font-size: 24px;
  font-weight: bold;
}
.header .header__wrapper {
  margin: 0 8px;
}
.header .header__wrapper .header__text {
  margin: 10px auto;
  color: #F0380F;
}
@media (min-width: 768px) {
  .header .header__wrapper .header__catchphrase {
    font-size: 52px;
    line-height: 60px;
  }
}
.header .header__wrapper .header__sale {
  transform: rotate(15deg);
  position: absolute;
  bottom: -12px;
  right: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F0380F;
  border-radius: 50%;
  width: 154.33px;
  height: 154.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header .header__wrapper .header__sale {
    top: 530px;
    right: 106px;
  }
}
@media (min-width: 768px) {
  .header .header__wrapper .header__sale {
    width: 227.24px;
    height: 227.24px;
  }
}
.header .header__wrapper .header__sale .sale__wrapper--title {
  text-transform: uppercase;
  font-size: 12px;
}
@media (min-width: 768px) {
  .header .header__wrapper .header__sale .sale__wrapper--title {
    font-size: 19px;
  }
}
.header .header__wrapper .header__sale .sale__wrapper--price {
  font-weight: bold;
  font-size: 29px;
}
@media (min-width: 768px) {
  .header .header__wrapper .header__sale .sale__wrapper--price {
    font-size: 44px;
  }
}
.header .header__wrapper .header__sale .sale__wrapper--minus {
  font-weight: lighter;
  font-size: 10px;
}
@media (min-width: 768px) {
  .header .header__wrapper .header__sale .sale__wrapper--minus {
    font-size: 15px;
  }
}

main .buy-it {
  text-align: center;
  margin: 50px 36px;
}
@media (min-width: 768px) {
  main .buy-it {
    margin: 50px 314px;
  }
}
@media (min-width: 768px) {
  main .buy-it .buy-it__text {
    font-size: 22px;
    line-height: 34px;
  }
}
main .buy-it .buy-it__cta {
  margin-top: 25px;
}
main .technologies {
  margin: 20px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  main .technologies {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
main .technologies .technologies__item .technologies__item--title {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  main .technologies .technologies__item .technologies__item--title {
    font-size: 40px;
    line-height: 56px;
  }
}
main .technologies .technologies__item .technologies__item--text--mobile {
  margin: 15px auto;
}
@media (min-width: 768px) {
  main .technologies .technologies__item .technologies__item--text--mobile {
    display: none;
  }
}
main .technologies .technologies__item .technologies__item--text--desktop {
  display: none;
}
@media (min-width: 768px) {
  main .technologies .technologies__item .technologies__item--text--desktop {
    display: block;
    font-size: 22px;
    line-height: 34px;
  }
}
main .technologies .technologies__item:nth-child(1) {
  margin: 0 36px;
}
@media (min-width: 768px) {
  main .technologies .technologies__item:nth-child(1) {
    margin: 15px 104px;
  }
}
main .technologies .technologies__item:nth-child(2) {
  align-self: end;
}
@media (min-width: 768px) {
  main .technologies .technologies__item:nth-child(2) {
    align-self: center;
  }
}
main .technologies .technologies__item img {
  width: 100%;
}
@media (min-width: 768px) {
  main .technologies .technologies__item img {
    width: 814px;
  }
}
main .photos {
  height: 183px;
  overflow: hidden;
}
@media (min-width: 768px) {
  main .photos {
    height: 700px;
  }
}
main .photos .photos__wrapper .photos__wrapper--items img {
  height: 183px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  main .photos .photos__wrapper .photos__wrapper--items img {
    height: 700px;
  }
}
main .get-ready {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  main .get-ready {
    height: 790px;
    margin-bottom: 0;
    align-items: center;
    flex-direction: row;
  }
}
main .get-ready .get-ready__item:nth-child(1) {
  background: url(../../public/img/lock_visuel.png) center/cover;
  height: 416px;
}
@media (min-width: 768px) {
  main .get-ready .get-ready__item:nth-child(1) {
    height: 100%;
    width: 710px;
  }
}
@media (min-width: 768px) {
  main .get-ready .get-ready__item:nth-child(1) img {
    height: 100%;
  }
}
main .get-ready .get-ready__item:nth-child(2) {
  margin: 0 36px;
}
@media (min-width: 768px) {
  main .get-ready .get-ready__item:nth-child(2) {
    margin: 0 94px;
  }
}
@media (min-width: 768px) {
  main .get-ready .get-ready__item:nth-child(2) .get-ready__item--title {
    font-size: 40px;
    line-height: 56px;
  }
}
@media (min-width: 768px) {
  main .get-ready .get-ready__item:nth-child(2) .get-ready__item--text {
    font-size: 22px;
    line-height: 34px;
  }
}
main .get-ready .get-ready__item:nth-child(2) * {
  margin-bottom: 21px;
}
main .avis {
  margin: 50px auto;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  height: 274px;
  background-color: #F0380F;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  main .avis {
    height: 400px;
    margin: 0 auto;
  }
}
main .avis .avis__wrapper {
  padding: 0 36px;
}
@media (min-width: 768px) {
  main .avis .avis__wrapper {
    width: 95vw;
  }
}
main .avis .avis__wrapper .avis__item {
  width: 100%;
}
@media (min-width: 768px) {
  main .avis .avis__wrapper .avis__item .quote {
    font-size: 40px;
    line-height: 56px;
  }
}
main .cross-selling {
  text-align: center;
  margin: 50px auto;
}
main .cross-selling .cross-selling_title {
  margin-bottom: 40px;
  font-size: 30px;
}
@media (min-width: 768px) {
  main .cross-selling .cross-selling_title {
    font-size: 52px;
    line-height: 60px;
  }
}
main .cross-selling .cross-selling__item {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  scroll-margin-inline-start: 400px;
}
@media (min-width: 768px) {
  main .cross-selling .cross-selling__item {
    justify-content: center;
  }
}
main .cross-selling .cross-selling__item .cross-selling_item--object {
  height: 368px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 0 18px;
  text-align: center;
  border: 1px solid #E4E4E4;
}
@media (min-width: 768px) {
  main .cross-selling .cross-selling__item .cross-selling_item--object {
    height: 514px;
    padding: 0 42px;
  }
}
main .cross-selling .cross-selling__item .cross-selling_item--object .object__image {
  width: 209px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  main .cross-selling .cross-selling__item .cross-selling_item--object .object__image {
    width: 315px;
  }
}
main .cross-selling .cross-selling__item .cross-selling_item--object .object__title {
  margin: 10px auto;
  min-height: 40px;
}
main .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
main .modal .modal__content {
  text-align: center;
  background-color: #FFFFFF;
  margin: 15% auto;
  padding: 40px;
  width: 60%;
}
main .modal .modal__content .modal__header {
  text-align: right;
}
main .modal .modal__content .modal__body {
  padding: 0 157px;
}
main .modal .modal__content .modal__body h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
}
main .modal .modal__content .modal__body p {
  font-size: 22px;
  line-height: 34px;
  margin: 25px auto;
}
main .modal .modal__content .modal__body p span {
  font-weight: bold;
}

footer {
  background-color: #E4E4E4;
  padding: 60px 36px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  footer {
    padding: 86px 104px;
  }
}
footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  footer .footer_wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer_wrapper .footer__infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer_wrapper .footer__infos a {
  text-decoration: none;
  color: #18181B;
}
@media (min-width: 768px) {
  footer .footer_wrapper .footer__infos {
    flex-direction: row;
    gap: 152px;
  }
}

.carrousel {
  position: relative;
}
.carrousel .carrousel__wrapper {
  position: relative;
  margin: auto;
}
.carrousel .carrousel__wrapper .carrousel__item {
  display: none;
}
.carrousel .carrousel__wrapper .prev, .carrousel .carrousel__wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFFFFF;
}
.carrousel .carrousel__wrapper .next {
  right: 0;
}
.carrousel .carrousel__wrapper .prev {
  left: 0;
}
.carrousel .carrousel__status {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carrousel .carrousel__status .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.carrousel .carrousel__status .active, .carrousel .carrousel__status .dot:hover {
  background-color: #18181B;
}

/*# sourceMappingURL=style.css.map */
